@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: 0;

  font-family: monospace, serif;
  -webkit-user-select: none; /* Safari */
  user-select: none;

  color: var(--face-color-content);
  background-color: transparent;

  list-style: none;

  transition: all 150ms;

  --face-color: lightgrey;
  --border-color: white;
  --pressed-color: lightgrey;
  --face-color-content: black;
  --highlight-color: whitesmoke;
  --tab-width: 110px;
  --popup-max-width: 500px;

  --m1-color: dodgerblue;
  --m2-color: forestgreen;
  --m3-color: crimson;
  --m4-color: darkorchid;
  --m5-color: chocolate;
  --m6-color: teal;
  --m7-color: black;
  --m8-color: grey;
}

.ignore-mouse {
  pointer-events: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-bottom: 2rem;
  background-color: var(--face-color);
}

main {
  margin-top: 1.5rem;
  position: relative;
}

#game {
  position: relative;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--face-color);
  border: 0.5rem outset var(--border-color);
}

.sub-container {
  display: flex;
  background-color: var(--pressed-color);
  border: 0.5rem inset var(--border-color);
}

#score {
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  padding: 0 0.2rem;
}

#score * {
  font-size: 2rem;
}

#board {
  display: grid;
  background-color: var(--face-color);
  border: 0.5rem inset var(--border-color);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4dvh;
  height: 4dvh;
  background-color: var(--face-color);
  font-size: 2.75dvh;
  font-weight: bold;
  border: 0.35rem outset var(--border-color);
}
.cell:active:hover {
  border: 0.25rem inset var(--pressed-color);
}
.cell:not(.pressed, :active):hover {
  background-color: var(--highlight-color);
}

.pressed {
  border: 0.25rem inset var(--pressed-color);
}

.btn,
input[type="radio"] + label {
  background-color: var(--face-color);
  padding: 1rem;
  border: 0.35rem outset var(--border-color);
  cursor: pointer;
}

.btn:active:hover,
input[type="radio"]:checked + label {
  background-color: var(--pressed-color);
  border: 0.35rem inset var(--pressed-color);
}

#reset {
  padding: 0 0.25rem;
}

.mine-1 {
  color: var(--m1-color);
}
.mine-2 {
  color: var(--m2-color);
}
.mine-3 {
  color: var(--m3-color);
}
.mine-4 {
  color: var(--m4-color);
}
.mine-5 {
  color: var(--m5-color);
}
.mine-6 {
  color: var(--m6-color);
}
.mine-7 {
  color: var(--m7-color);
}
.mine-8 {
  color: var(--m8-color);
}

/* --- */

nav {
  position: fixed;
  z-index: 500;
  inset: 0;
  height: 2rem;
  padding: 0.5rem;

  filter: drop-shadow(black 0rem 0.1rem 0.5rem);
}

.nav-bar-top {
  position: absolute;
  inset: 0;
  bottom: 0.5rem;
  background-color: var(--face-color);
  border: 0.5rem groove var(--border-color);
  border-bottom-style: none;
}

.nav-bar-bottom {
  position: absolute;
  inset: 0;
  z-index: -200;
  background-color: var(--face-color);
  border: 0.5rem groove var(--border-color);
}

nav > menu {
  position: absolute;
  z-index: -100;
  top: calc(100% - 0.5rem);
  right: 0;
  display: flex;
  align-items: start;
  pointer-events: none;
}

.popout {
  position: relative;
  background-color: var(--face-color);
  border: 0.5rem groove var(--border-color);
  border-top-width: 0;

  pointer-events: all;

  transform: translateY(-100%);

  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;

  white-space: nowrap;
  max-width: var(--tab-width);
  min-width: var(--tab-width);

  /* transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8); */
}

/* this hide the navbar's border when bouncing */
.popout::before {
  content: "";
  position: absolute;
  inset: -100dvh -0.5rem 100% -0.5rem;
  background-color: inherit;
}

.popout *:not(.tab) {
  overflow: hidden;
}

.tab {
  position: absolute;
  top: 100%;
  right: -0.5rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--face-color);
  border: 0.5rem groove var(--border-color);
  border-top-width: 0;
  width: var(--tab-width);
  display: flex;
  justify-content: center;
}

.popout:has(.tab + input:checked) {
  transform: translateY(0);
  max-width: var(--popup-max-width);
  white-space: wrap;
  transition: all 150ms, max-width 0s;
}

/* .popout:has(.tab + input:checked), */
.popout:has(.tab + input:checked) > label {
  background-color: var(--highlight-color);
}

.popout > p:has(+ p) {
  margin-bottom: 1rem;
}
