@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Open Sans", serif;

  color: black;
  background-color: transparent;

  transition: all 150ms;

  --face-color: lightgrey;
  --border-color: white;
  --pressed-color: lightgrey;
  --face-color-content: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  background-color: var(--face-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: var(--face-color);
  border: 0.5rem outset var(--border-color);
}

.sub-container {
  display: flex;
  flex-shrink: 0;
  background-color: var(--pressed-color);
  border: 0.5rem inset var(--border-color);
  width: 100%;
}

#controls {
  justify-content: space-between;
  align-items: center;
}

#controls * {
  font-family: monospace;
  font-size: 2rem;
  background-color: red;
}

#board {
  display: grid;
  border: 0.5rem inset var(--border-color);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4dvh;
  height: 4dvh;
  background-color: var(--face-color);
  font-size: 150%;
  font-weight: bold;
  border: 0.35rem outset var(--border-color);
}
.cell:active:hover {
  border: 0.25rem inset var(--pressed-color);
}

.pressed {
  border: 0.25rem inset var(--pressed-color);
}

input[type="radio"] + label {
  color: var(--face-color-content);
  background-color: var(--face-color);
  padding: 1rem;
  border: 0.35rem outset var(--border-color);
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--pressed-color);
  border: 0.35rem inset var(--pressed-color);
}

.mine-1 {
  color: dodgerblue;
}
.mine-2 {
  color: forestgreen;
}
.mine-3 {
  color: crimson;
}
.mine-4 {
  color: darkorchid;
}
.mine-5 {
  color: chocolate;
}
.mine-6 {
  color: teal;
}
.mine-7 {
  color: black;
}
.mine-8 {
  color: grey;
}

.mine {
  border-radius: 50%;
  background-color: black;
  width: 50%;
  height: 50%;
}

.cell:has(.mine) {
  background-color: red;
}

.ignore-mouse {
  pointer-events: none;
}
