@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  border: 0;

  font-family: "Open Sans", serif;

  color: black;
  background-color: transparent;

  transition: all 150ms;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

main {
  background-color: aliceblue;
}

#controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0 0.5rem;
}

#controls * {
  font-family: monospace;
  font-size: 2rem;
}

#board {
  display: grid;
  padding: 0.25rem;
  background-color: grey;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4dvh;
  height: 4dvh;
  background-color: lightgrey;
  font-size: 150%;
  font-weight: bold;
  border: 0.35rem outset white;
}
.cell:active:hover {
  border: 0.25rem inset lightgrey;
}

.pressed {
  border: 0.25rem inset lightgrey;
}

.difficulty {
  display: flex;
  gap: 1rem;
}

input[type="radio"] + label {
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  color: black;
  background-color: white;
  border: 0.1rem solid black;
}

.mine-1 {
  color: dodgerblue;
}
.mine-2 {
  color: forestgreen;
}
.mine-3 {
  color: crimson;
}
.mine-4 {
  color: darkorchid;
}
.mine-5 {
  color: chocolate;
}
.mine-6 {
  color: teal;
}
.mine-7 {
  color: black;
}
.mine-8 {
  color: grey;
}

.mine {
  border-radius: 50%;
  background-color: black;
  width: 50%;
  height: 50%;
}

.cell:has(.mine) {
  background-color: red;
}

.ignore-mouse {
  pointer-events: none;
}
