#tutorial-container {
  /* max-height: 478px; */
  max-height: 300px;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.tutorial-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  max-width: 250px;
}

.tutorial-page img {
  width: 200px;
  border: 0.5rem inset var(--border-color);
}

.header-break {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;

  align-self: stretch;

  /* background-color: var(--face-color); */
  background-image: linear-gradient(
    var(--face-color),
    var(--face-color),
    transparent
  );

  position: sticky;
  top: 0;
}
.header-break:not(:first-child) {
  margin-top: 3rem;
}

.header-break::after,
.header-break::before {
  content: "";
  width: 100%;
  /* height: 0.25rem; */
  /* background-color: grey; */
  border-top: 0.25rem dashed grey;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
  border-radius: 50%;
  min-width: 2rem;
  min-height: 2rem;
  margin: 0 0.5rem;
}

#tutorial-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5rem;
}
#tutorial-container::-webkit-scrollbar-thumb {
  background-color: grey;
}
#tutorial-container::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

/* --- */

.verb {
  font-style: italic;
}

/* --- */

.number-text {
  animation: numbers-colorful 8s linear 0s infinite alternate;
}

@keyframes numbers-colorful {
  0% {
    color: var(--m1-color);
  }

  20% {
    color: var(--m2-color);
  }

  40% {
    color: var(--m3-color);
  }

  60% {
    color: var(--m4-color);
  }

  80% {
    color: var(--m5-color);
  }

  100% {
    color: var(--m6-color);
  }
}

@keyframes numbers-full {
  0% {
    color: var(--m1-color);
  }

  12.5% {
    color: var(--m2-color);
  }

  25% {
    color: var(--m3-color);
  }

  37.5% {
    color: var(--m4-color);
  }

  50% {
    color: var(--m5-color);
  }

  62.5% {
    color: var(--m6-color);
  }

  75% {
    color: var(--m7-color);
  }

  87.5% {
    color: var(--m8-color);
  }

  100% {
    color: var(--m1-color);
  }
}

/* --- */

.mine-text {
  animation: mine-text 2s ease-in-out 0s infinite alternate;
}

@keyframes mine-text {
  from {
    color: black;
  }

  to {
    color: red;
  }
}
